/* MOBILE */

.feed__header {
  display: flex;
	justify-content: space-between;
	padding: 0.5rem 1.5rem;
	width: 100%;
}

.feed__main-section {
	background-color: #150714;
	border-bottom: 0.3rem solid #60265B;
	display: flex;
	justify-content: space-between;
	padding: 2rem 1.5rem;
}

.feed__main-div {
	align-items: flex-end;
	display: flex;
	flex-basis: calc( 80% - 1rem );
	flex-direction: column;
}

.feed__main-textarea {
	background-color: #2F112D;
	border: none;
	color: #ffffff;
	font-size: 1.6rem;
	height: 20rem;
	padding: 1.5rem;
	resize: none;
	width: 100%;
}

.feed__main-textarea::placeholder {
	color: #914D8B;
}

.feed__main-counter {
	width: 100%;
}

.feed__main-progressBar {
	background: #00DA76;
	height: 0.4rem;
}

.feed__main-count {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}

.feed__main-count span {
	font-size: 1.4rem;
}

.feed__main-count span:nth-child(2) {
	color: #F50D5A;
}

/* TABLET: */

@media (min-width: 768px) {
	.feed__header {
		padding: 1rem 7rem;
	}

	.feed__main-section {
		padding: 3rem 7rem;
	}

	.feed__main-textarea {
		font-size: 1.8rem;
	}
}

/* DESKTOP: */

@media (min-width: 1200px) {
	.feed__header {
		padding: 1rem 25%;
	}

	.feed__main-section {
		padding: 3rem 25%;
	}
}

