/* MOBILE: */

.button {
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-family: slkscr;
	font-size: 1.8rem;
	padding: 1.5rem;
}

.button-green {
	background-color: #00DA76;
	border-radius: none;
	margin-top: 3rem;
	width: 100%;
}

.button_post {
	background-color: #2F112D;
	color: #150714;
	padding: 1rem 2rem;
}

