/* MOBILE */

.feed__header {
	justify-content: space-between;
	padding: 0.5rem 1rem;
	width: 100%;
  display: flex;
}

.feed__main-section {
	background-color: #150714;
	display: flex;
	justify-content: space-between;
	padding: 2rem 1rem;
}

.feed__main-div {
	align-items: flex-end;
	display: flex;
	flex-basis: calc( 80% - 1rem );
	flex-direction: column;
}

.feed__main-textarea {
	background-color: #2F112D;
	border: none;
	color: #ffffff;
	font-size: 1.6rem;
	height: 20rem;
	padding: 1.5rem;
	resize: none;
	width: 100%;
}

.feed__main-textarea::placeholder {
	color: #914D8B;
}

.feed__main-counter {
	width: 100%;
}

.feed__main-progressBar {
	background: #00DA76;
	height: 0.4rem;
}

.feed__main-count {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}

.feed__main-count span {
	font-size: 1.4rem;
}

.feed__main-count span:nth-child(2) {
	color: #F50D5A;
}

