/* MOBILE: */
.logo {
	display: flex;
}

.logo__vert {
	align-items: center;
	flex-direction: column;
	padding: 30% 0;
}

.logo__vert-logotype {
	width: 50%;
}

.logo__vert-naming {
	margin: 5% 0;
	width: 100%;
}

.logo__horizontal {
	flex-basis: 50%;
	flex-direction: row;
	padding-right: 1rem;
}

.logo__horizontal-logotype {
	margin-right: 1rem;
	width: 30%;
}

.logo__horizontal-naming {
	width: 70%;
}