/* MOBILE: */

.userWelcome__h1 {
	font-family: 'slkscr';
	font-size: 3rem;
}

.userWelcome__h1 span {
	color: #F50D5A;
}

.userWelcome__p {
	font-size: 1.6rem;
	margin: 2.5rem 0;
}

.userWelcome__input {
	background-color: #150714;
	border: none;
	color: #ffffff;
  font-family: 'Fira Code', monospace;
	font-size: 1.6rem;
	padding: 1.5rem;
	width: 100%;
}

.userWelcome__input::placeholder {
	color: #60265B;
}

.userWelcome__color {
  display: flex;
	justify-content: space-between;
}