* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
@font-face {
  font-family: slkscrb;
  src: url('./assets/fonts/slkscrb.ttf') format('truetype');
}

@font-face {
  font-family: slkscr;
  src: url('./assets/fonts/slkscr.ttf') format('truetype');
}


html {
  background-color: #2E132C;
  color: #ffffff;
  font-family: 'Fira Code', monospace;
  font-size: 62.5%;
}

